<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dabakarov10.shoppinglist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingList">
        <activity
            android:name=".Alarm_Notification_Page"
            android:exported="false" />
        <activity
            android:name=".Create_Event_Page"
            android:exported="false" />
        <activity
            android:name=".Dynamic_item_Page"
            android:exported="false" />
        <activity
            android:name=".Exists_item_Page"
            android:exported="false" />
        <activity
            android:name=".UserProfilePage"
            android:exported="false" />
        <activity
            android:name=".SighUpPage"
            android:exported="false" />
        <activity
            android:name=".LogInPage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmReceiver"/>
    </application>

</manifest>